<h1>Instructions</h1>
<ol>
<li>Click the button "Not Trusted" on the menu bar of this notebook (at the top-right), and change the value to "Trusted". 
<li>Click Cell -> Run All. If you skip this step you might get the error "Cell magic `%%sql` not found."
<li>In the cell below each question, write a SQL query for the question.  
<li>After you enter a query, press Shift + Enter to run the cell. 
<li>After execution, the system will output the query result and say "CORRECT" if the query works for the sample dataset. Otherwise, it will say "INCORRECT" and also display the expected result for your comparison.
<li>Your submission will be tested over a dataset different from and larger than the sample. You will receive full credit for a question if the query returns correct results on the test dataset. 
</ol>

<h2>Notes</h2>
<ul>
<li>The DBMS running on the server is PostgreSQL 8.4.20. You may write any query to solve the questions as long as it conforms to its syntax. 
<li>You are encouraged to experiment with different queries by creating new code cells with the %%sql tag. However, when you submit your notebook, please make sure that there is exactly one cell with "%%sql n", for $1 \le n \le 12$, so that the autograder works properly. 
<li>Do not modify the line with %%sql; without it, the cell contents will be treated as Python code. 
</ul>

<h2>Example</h2>

As an example, you can copy and paste the following SQL code into the input box for one of the questions, and then press Shift + Enter.

SELECT Bars.name
FROM Bars
WHERE addr != ''

If the notebook is working properly, then you should see a table of all the bars in the database. If not, please contact the TA's or make a post on Piazza and we will do our best to resolve the issue.

<h1>Database Schema</h1>

Drinkers(<u>name</u>, <u>addr</u>, hobby, frequent)

Bars(<u>name</u>, addr, owner)

Beers(<u>name</u>, brewer, alcohol)

Drinks(<u>drinkerName</u>, <u>drinkerAddr</u>, <u>beerName</u>, rating)

Sells(<u>barName</u>, <u>beerName</u>, price, discount)

Favorites(<u>drinkerName</u>, <u>drinkerAddr</u>, <u>barName</u>, beerName, season)

In [68]:
from IPython.core.magic import  (
    Magics, magics_class, cell_magic, line_magic
)
from IPython.display import clear_output, display, Markdown

import IPython.core.display as dis
import requests, json
import urllib.parse

server_url = "http://forward.cs.illinois.edu:8443"

def execQueryEval(query, query_id):
    cmd = server_url + "/test?query~"+urllib.parse.quote(query)+"&nb~"+str(query_id)
    cmd.encode("utf-8")
    r = requests.get(cmd)
    return r.text

def execQueryResult(query):
    cmd =  server_url + "/result?query~"+urllib.parse.quote(query)
    cmd.encode("utf-8")
    r = requests.get(cmd)
    return r.text

def displayAsMarkdown(text):
    display(Markdown(text))

@magics_class
class SQL(Magics):

    @cell_magic
    def sql(self, params, cell):
        clear_output()
        
        # remove trailing semicolon
        if cell.endswith(';'):
            cell = cell.rstrip(';')
            
        # get the question number
        n = -1
        if len(params.strip()) > 0:
            try:
                n = int(params.strip())
            except Exception:
                pass
        
        # evaluate the query
        if len(cell.strip()) > 1:
            print ("Query output: ")
            displayAsMarkdown(execQueryResult(cell))
            if n > -1:
                print ("Result: ")
                displayAsMarkdown(execQueryEval(cell, n))

## use ipython load_ext mechanism here if distributed
get_ipython().register_magics(SQL)

# hide this code cell
html = """
<script>
  function code_toggle() {
    if (code_shown){
      $('div.input:eq(0)').hide();
    } else {
      $('div.input:eq(0)').show();
    }
    code_shown = !code_shown;
  }
  
  code_shown=true;
  code_toggle();
</script>
"""
dis.display_html(html, raw=True)

<h2>Question 1:</h2><br>
In California it is illegal to sell beverages with >60% alcohol content. Find the beers in the database that are illegal to sell in California. <br>

<b>Note</b> - alcohol concentration is represented as a floating point number between 0 and 1.

In [69]:
%%sql 1

/* This is basically a simple Select query which one restraint from a single table */
SELECT Beers.name
FROM Beers
WHERE alcohol > 0.60

Query output:

|name varchar|
|---|
|Armageddon|
|Snake Venom|
|Lucid Absinthe|

Result:

CORRECT

Expected result:

|name varchar|
|---|
|Armageddon|
|Snake Venom|
|Lucid Absinthe|

<h2>Question 2:</h2><br>
Find the name and location of bars that sell beers made by the 'Boston Beer Co.'.

In [70]:
%%sql 2

/*This is another simple query with 3 restraints and 3 tables*/
SELECT Bars.name, Bars.addr
FROM Sells, Beers, Bars
WHERE beerName = Beers.name and brewer = 'Boston Beer Co.' and Sells.barName = Bars.name

Query output:

|name varchar|addr varchar|
|---|---|
|Blind Pig Co.|120 Walnut St|
|Brothers Bar & Grill|613 Green St|
|Firehaus|708 6th St|
|Joe's Brewery|706 5th St|
|Legends|522 Green St|
|Murphy's Pub|604 Green St|
|Radio Maria|119 Walnut St|
|The Red Lion|211 Green St|
|Sipyard|204 Main St|

Result:

CORRECT

Expected result:

|name varchar|addr varchar|
|---|---|
|Joe's Brewery|706 5th St|
|Blind Pig Co.|120 Walnut St|
|Firehaus|708 6th St|
|Sipyard|204 Main St|
|Murphy's Pub|604 Green St|
|Legends|522 Green St|
|Brothers Bar & Grill|613 Green St|
|Radio Maria|119 Walnut St|
|The Red Lion|211 Green St|

<h2>Question 3:</h2><br>
Find all of the different beers that are sold in bars located on 'Green St'. <br>

<b>Note</b> - you can assume that address is always in the format '[number] [street]' <br>

In [71]:
%%sql 3
/*Another rather simple SELECT query but used the LIKE keyword and gave it a regular expression to deal with*/
SELECT Sells.beerName
FROM Sells, Bars
WHERE Sells.barName = Bars.name and Bars.addr LIKE '%Green St%'
/* write your query here */

Query output:

|beername varchar|
|---|
|Bud Light|
|Budweiser|
|Blue Moon|
|Blue Ribbon|
|Sam Adams|
|Michelob|
|Blue Moon|
|Budweiser|
|Guinness Draught|
|Sam Adams|
|Armageddon|
|Miller Lite|
|Sam Adams|
|Coors Light|
|Guinness Draught|
|Heineken|
|Blue Moon|
|Sam Adams|
|Heineken|
|Blue Moon|
|Miller Lite|
|Coors Light|
|Guinness Draught|

Result:

CORRECT

Expected result:

|beername varchar|
|---|
|Miller Lite|
|Sam Adams|
|Blue Moon|
|Guinness Draught|
|Coors Light|
|Michelob|
|Armageddon|
|Heineken|
|Bud Light|
|Blue Ribbon|
|Budweiser|

<h2>Question 4:</h2><br>
Find pairs of drinkers (name1, addr1, name2, addr2) who share a favorite drink and who frequent the same bar.<br>

<b>Note</b> - the context of each person’s favorite drink (barName and season) do not need to be the same.<br>

<b>Note</b> - it is expected that name1 || addr1 > name2 || addr2, so that the same information does not appear twice.

In [72]:
%%sql 4
/*This is another query where in order to get the pair we need to join it 
with two tables of which they are going to be joined with themselves*/
SELECT d1.name, d1.addr, d2.name, d2.addr
FROM Drinkers d1, Drinkers d2, Favorites f1, Favorites f2
WHERE d1.frequent = d2.frequent 
    and d1.name != d2.name 
    and d1.name > d2.name 
    and f1.drinkerName = d1.name 
    and f1.drinkerName != f2.drinkername 
    and f1.beerName = f2.beerName
/* write your query here */

Query output:

|name varchar|addr varchar|name varchar|addr varchar|
|---|---|---|---|
|Frank|600 Fig St|Bob|200 Broccoli Blvd|
|Frank|600 Fig St|Bob|200 Broccoli Blvd|
|Ian|900 Ivy Ave|David|400 Durian Dr|
|Ian|900 Ivy Ave|David|400 Durian Dr|
|Ian|900 Ivy Ave|David|400 Durian Dr|
|Ian|900 Ivy Ave|David|400 Durian Dr|
|Ian|900 Ivy Ave|David|400 Durian Dr|

Result:

CORRECT

Expected result:

|name varchar|addr varchar|name varchar|addr varchar|
|---|---|---|---|
|Frank|600 Fig St|Bob|200 Broccoli Blvd|
|Ian|900 Ivy Ave|David|400 Durian Dr|

<h2>Question 5:</h2><br>
Find the undiscounted price at which each bar sells the 'Sam Adams' beer

<b>Note</b> - the Sells.price attribute describes the price <b>after</b> all discounts are applied.<br>

<b>Note</b> - the discount attribute is a number between 0 and 1, such that discountedPrice = undiscountedPrice * discount

In [73]:
%%sql 5
/*This is just does an arithmetic on the given info*/

SELECT barname, price / discount
FROM Sells
WHERE beername = 'Sam Adams'

/* write your query here */

Query output:

|barname varchar|?column? numeric|
|---|---|
|Blind Pig Co.|7.5000000000000000|
|Brothers Bar & Grill|7.5000000000000000|
|Firehaus|7.5000000000000000|
|Joe's Brewery|10.0000000000000000|
|Legends|13.0000000000000000|
|Murphy's Pub|7.5000000000000000|
|Radio Maria|7.0000000000000000|
|The Red Lion|7.5000000000000000|
|Sipyard|8.5000000000000000|

Result:

CORRECT

Expected result:

|barname varchar|undiscountedprice numeric|
|---|---|
|Blind Pig Co.|7.5000000000000000|
|Brothers Bar & Grill|7.5000000000000000|
|Firehaus|7.5000000000000000|
|Joe's Brewery|10.0000000000000000|
|Legends|13.0000000000000000|
|Murphy's Pub|7.5000000000000000|
|Radio Maria|7.0000000000000000|
|The Red Lion|7.5000000000000000|
|Sipyard|8.5000000000000000|

<h2>Question 6:</h2><br>
Find the bars that sell a unique beer (a beer that no other bars have)

In [74]:
%%sql 6
/*This has a nested query to get the name of the beer and then organize it by the bar name*/

SELECT barName
FROM Sells 
WHERE beerName IN 
    (SELECT beerName 
     FROM Sells 
     GROUP BY beerName 
     HAVING COUNT(*) = 1)
/* write your query here */

Query output:

|barname varchar|
|---|
|Brothers Bar & Grill|
|Cowboy Monkey|
|Cowboy Monkey|
|Firehaus|
|Legends|
|Sipyard|
|Sipyard|

Result:

CORRECT

Expected result:

|barname varchar|
|---|
|Legends|
|Cowboy Monkey|
|Sipyard|
|Brothers Bar & Grill|
|Firehaus|

<h2>Question 7:</h2><br>
Find the 5 most popular beers (according to the total number of people who drink the beer across all bars) that are sold at 'Murphy''s Pub'.

In [75]:
%%sql 7
/**/
SELECT beerName
FROM Sells
WHERE barName = 'Murphy\'s Pub'
ORDER BY price DESC LIMIT 5
/* write your query here */

Query output:

|beername varchar|
|---|
|Guinness Draught|
|Sam Adams|
|Heineken|
|Coors Light|
|Blue Moon|

Result:

CORRECT

Expected result:

|beername varchar|
|---|
|Guinness Draught|
|Sam Adams|
|Blue Moon|
|Coors Light|
|Heineken|

<h2>Question 8:</h2><br>
Find the bars that serve the Sam Adams beer cheaper than the average market price.

<b>Note</b> - the average market price is defined as the average price of the beer across all bars that sell the beer.

In [76]:
%%sql 8

SELECT barName
FROM Sells
WHERE beerName = 'Sam Adams' 
    and price < (SELECT AVG(price) 
                 FROM Sells 
                 WHERE beerName = 'Sam Adams')

/* write your query here */

Query output:

|barname varchar|
|---|
|Joe's Brewery|
|Legends|
|Radio Maria|

Result:

CORRECT

Expected result:

|barname varchar|
|---|
|Joe's Brewery|
|Legends|
|Radio Maria|

<h2>Question 9:</h2><br>
Find pairs of bars (Name1, Name2) that sell the same set of drinks. <br>

<b>Note</b> - for each pair, we would like for Name1 > Name2, so that the same information does not appear twice.

In [77]:
%%sql 9

SELECT *
FROM Sells s1, Sells s2
WHERE s1.barName != s2.barName and s1.beerName = s2.beerName and s1.barName > s2.barName
/* write your query here */

Query output:

|barname varchar|beername varchar|price numeric|discount numeric|barname varchar|beername varchar|price numeric|discount numeric|
|---|---|---|---|---|---|---|---|
|Brothers Bar & Grill|Bud Light|5.00|1|Blind Pig Co.|Bud Light|5.00|1|
|Brothers Bar & Grill|Budweiser|6.00|1|Blind Pig Co.|Budweiser|7.00|1|
|Brothers Bar & Grill|Sam Adams|7.50|1|Blind Pig Co.|Sam Adams|7.50|1|
|The Clybourne|Coors Light|5.00|1|Murphy's Pub|Coors Light|6.00|1|
|The Clybourne|Coors Light|5.00|1|Joe's Brewery|Coors Light|5.50|1|
|The Clybourne|Coors Light|5.00|1|Blind Pig Co.|Coors Light|6.00|1|
|The Clybourne|Corona|7.00|1|Kam's|Corona|8.00|1|
|The Clybourne|Corona|7.00|1|Joe's Brewery|Corona|6.50|1|
|The Clybourne|Corona|7.00|1|Blind Pig Co.|Corona|8.00|1|
|The Clybourne|Keystone|9.00|1|Kam's|Keystone|7.50|1|
|The Clybourne|Heineken|10.00|1|Murphy's Pub|Heineken|7.00|1|
|The Clybourne|Heineken|10.00|1|Cowboy Monkey|Heineken|7.00|1|
|Cowboy Monkey|Bud Light|5.00|1|Brothers Bar & Grill|Bud Light|5.00|1|
|Cowboy Monkey|Bud Light|5.00|1|Blind Pig Co.|Bud Light|5.00|1|
|Cowboy Monkey|Budweiser|5.50|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Cowboy Monkey|Budweiser|5.50|1|Blind Pig Co.|Budweiser|7.00|1|
|Firehaus|Michelob|7.50|1|Brothers Bar & Grill|Michelob|7.00|1|
|Firehaus|Budweiser|6.00|1|Cowboy Monkey|Budweiser|5.50|1|
|Firehaus|Budweiser|6.00|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Firehaus|Budweiser|6.00|1|Blind Pig Co.|Budweiser|7.00|1|
|Firehaus|Sam Adams|7.50|1|Brothers Bar & Grill|Sam Adams|7.50|1|
|Firehaus|Sam Adams|7.50|1|Blind Pig Co.|Sam Adams|7.50|1|
|Joe's Brewery|Bud Light|6.00|1|Cowboy Monkey|Bud Light|5.00|1|
|Joe's Brewery|Bud Light|6.00|1|Brothers Bar & Grill|Bud Light|5.00|1|
|Joe's Brewery|Bud Light|6.00|1|Blind Pig Co.|Bud Light|5.00|1|
|Joe's Brewery|Budweiser|7.50|1|Firehaus|Budweiser|6.00|1|
|Joe's Brewery|Budweiser|7.50|1|Cowboy Monkey|Budweiser|5.50|1|
|Joe's Brewery|Budweiser|7.50|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Joe's Brewery|Budweiser|7.50|1|Blind Pig Co.|Budweiser|7.00|1|
|Joe's Brewery|Sam Adams|5.00|0.50|Firehaus|Sam Adams|7.50|1|
|Joe's Brewery|Sam Adams|5.00|0.50|Brothers Bar & Grill|Sam Adams|7.50|1|
|Joe's Brewery|Sam Adams|5.00|0.50|Blind Pig Co.|Sam Adams|7.50|1|
|Joe's Brewery|Coors Light|5.50|1|Blind Pig Co.|Coors Light|6.00|1|
|Joe's Brewery|Corona|6.50|1|Blind Pig Co.|Corona|8.00|1|
|Kam's|Bud Light|6.50|1|Joe's Brewery|Bud Light|6.00|1|
|Kam's|Bud Light|6.50|1|Cowboy Monkey|Bud Light|5.00|1|
|Kam's|Bud Light|6.50|1|Brothers Bar & Grill|Bud Light|5.00|1|
|Kam's|Bud Light|6.50|1|Blind Pig Co.|Bud Light|5.00|1|
|Kam's|Budweiser|7.00|1|Joe's Brewery|Budweiser|7.50|1|
|Kam's|Budweiser|7.00|1|Firehaus|Budweiser|6.00|1|
|Kam's|Budweiser|7.00|1|Cowboy Monkey|Budweiser|5.50|1|
|Kam's|Budweiser|7.00|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Kam's|Budweiser|7.00|1|Blind Pig Co.|Budweiser|7.00|1|
|Kam's|Corona|8.00|1|Joe's Brewery|Corona|6.50|1|
|Kam's|Corona|8.00|1|Blind Pig Co.|Corona|8.00|1|
|Legends|Blue Moon|7.50|1|Brothers Bar & Grill|Blue Moon|7.50|1|
|Legends|Budweiser|5.00|1|Kam's|Budweiser|7.00|1|
|Legends|Budweiser|5.00|1|Joe's Brewery|Budweiser|7.50|1|
|Legends|Budweiser|5.00|1|Firehaus|Budweiser|6.00|1|
|Legends|Budweiser|5.00|1|Cowboy Monkey|Budweiser|5.50|1|
|Legends|Budweiser|5.00|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Legends|Budweiser|5.00|1|Blind Pig Co.|Budweiser|7.00|1|
|Legends|Sam Adams|6.50|0.50|Joe's Brewery|Sam Adams|5.00|0.50|
|Legends|Sam Adams|6.50|0.50|Firehaus|Sam Adams|7.50|1|
|Legends|Sam Adams|6.50|0.50|Brothers Bar & Grill|Sam Adams|7.50|1|
|Legends|Sam Adams|6.50|0.50|Blind Pig Co.|Sam Adams|7.50|1|
|Murphy's Pub|Sam Adams|7.50|1|Legends|Sam Adams|6.50|0.50|
|Murphy's Pub|Sam Adams|7.50|1|Joe's Brewery|Sam Adams|5.00|0.50|
|Murphy's Pub|Sam Adams|7.50|1|Firehaus|Sam Adams|7.50|1|
|Murphy's Pub|Sam Adams|7.50|1|Brothers Bar & Grill|Sam Adams|7.50|1|
|Murphy's Pub|Sam Adams|7.50|1|Blind Pig Co.|Sam Adams|7.50|1|
|Murphy's Pub|Coors Light|6.00|1|Joe's Brewery|Coors Light|5.50|1|
|Murphy's Pub|Coors Light|6.00|1|Blind Pig Co.|Coors Light|6.00|1|
|Murphy's Pub|Guinness Draught|8.00|1|Legends|Guinness Draught|8.00|1|
|Murphy's Pub|Heineken|7.00|1|Cowboy Monkey|Heineken|7.00|1|
|Murphy's Pub|Blue Moon|5.00|1|Legends|Blue Moon|7.50|1|
|Murphy's Pub|Blue Moon|5.00|1|Brothers Bar & Grill|Blue Moon|7.50|1|
|Radio Maria|Bud Light|5.00|1|Kam's|Bud Light|6.50|1|
|Radio Maria|Bud Light|5.00|1|Joe's Brewery|Bud Light|6.00|1|
|Radio Maria|Bud Light|5.00|1|Cowboy Monkey|Bud Light|5.00|1|
|Radio Maria|Bud Light|5.00|1|Brothers Bar & Grill|Bud Light|5.00|1|
|Radio Maria|Bud Light|5.00|1|Blind Pig Co.|Bud Light|5.00|1|
|Radio Maria|Budweiser|6.00|1|Legends|Budweiser|5.00|1|
|Radio Maria|Budweiser|6.00|1|Kam's|Budweiser|7.00|1|
|Radio Maria|Budweiser|6.00|1|Joe's Brewery|Budweiser|7.50|1|
|Radio Maria|Budweiser|6.00|1|Firehaus|Budweiser|6.00|1|
|Radio Maria|Budweiser|6.00|1|Cowboy Monkey|Budweiser|5.50|1|
|Radio Maria|Budweiser|6.00|1|Brothers Bar & Grill|Budweiser|6.00|1|
|Radio Maria|Budweiser|6.00|1|Blind Pig Co.|Budweiser|7.00|1|
|Radio Maria|Miller Lite|4.00|1|Murphy's Pub|Miller Lite|4.00|1|
|Radio Maria|Sam Adams|7.00|1|Murphy's Pub|Sam Adams|7.50|1|
|Radio Maria|Sam Adams|7.00|1|Legends|Sam Adams|6.50|0.50|
|Radio Maria|Sam Adams|7.00|1|Joe's Brewery|Sam Adams|5.00|0.50|
|Radio Maria|Sam Adams|7.00|1|Firehaus|Sam Adams|7.50|1|
|Radio Maria|Sam Adams|7.00|1|Brothers Bar & Grill|Sam Adams|7.50|1|
|Radio Maria|Sam Adams|7.00|1|Blind Pig Co.|Sam Adams|7.50|1|
|The Red Lion|Sam Adams|7.50|1|Sipyard|Sam Adams|8.50|1|
|The Red Lion|Sam Adams|7.50|1|Radio Maria|Sam Adams|7.00|1|
|The Red Lion|Sam Adams|7.50|1|Murphy's Pub|Sam Adams|7.50|1|
|The Red Lion|Sam Adams|7.50|1|Legends|Sam Adams|6.50|0.50|
|The Red Lion|Sam Adams|7.50|1|Joe's Brewery|Sam Adams|5.00|0.50|
|The Red Lion|Sam Adams|7.50|1|Firehaus|Sam Adams|7.50|1|
|The Red Lion|Sam Adams|7.50|1|Brothers Bar & Grill|Sam Adams|7.50|1|
|The Red Lion|Sam Adams|7.50|1|Blind Pig Co.|Sam Adams|7.50|1|
|The Red Lion|Heineken|8.00|1|Murphy's Pub|Heineken|7.00|1|
|The Red Lion|Heineken|8.00|1|Cowboy Monkey|Heineken|7.00|1|
|The Red Lion|Heineken|8.00|1|The Clybourne|Heineken|10.00|1|
|The Red Lion|Blue Moon|6.00|1|Sipyard|Blue Moon|9.50|1|
|The Red Lion|Blue Moon|6.00|1|Murphy's Pub|Blue Moon|5.00|1|
|The Red Lion|Blue Moon|6.00|1|Legends|Blue Moon|7.50|1|

Result:

INCORRECT

Expected result:

|name varchar|name varchar|
|---|---|
|Joe's Brewery|Blind Pig Co.|
|The Red Lion|Murphy's Pub|

<h2>Question 10:</h2><br>
Suppose we are interested in computing statistics about the ratings of people’s favorite beers. Obtain a list of all ratings for all beers that have been favorited by >= 3 different people.

In [78]:
%%sql 10

SELECT Drinks.rating
FROM Favorites, Drinks
WHERE Favorites.beerName IN (SELECT Favorites.beerName
                             FROM Favorites
                             GROUP BY Favorites.beerName
                             HAVING COUNT(*) >= 3)
      and Favorites.beerName = Drinks.beerName
/* write your query here */

Query output:

|rating int4|
|---|
|8|
|8|
|8|
|7|
|7|
|7|
|8|
|8|
|8|
|7|
|7|
|7|
|8|
|8|
|8|
|3|
|3|
|3|
|8|
|8|
|8|
|8|
|8|
|8|
|8|
|8|
|8|
|9|
|9|
|9|
|6|
|6|
|6|
|7|
|7|
|7|
|10|
|10|
|10|
|5|
|5|
|5|
|6|
|6|
|6|
|7|
|7|
|7|

Result:

CORRECT

Expected result:

|rating int4|
|---|
|8|
|7|
|8|
|7|
|8|
|3|
|8|
|8|
|8|
|9|
|6|
|7|
|10|
|5|
|6|
|7|

<h2>Question 11:</h2><br>
Find the most expensive beer, along with its price, that is sold at each bar. <br>

<b>Note</b> - the expected output format is (bar name, name of most expensive beer at that bar, price of most expensive beer) <br>

<b>Note</b> - you can assume that there will be at most one row for each bar.

In [79]:
%%sql 11


SELECT a.n_barName, b.beerName, a.m_price
FROM( SELECT barName AS n_barName, MAX(price) AS m_price
      FROM Sells
      GROUP BY barName) AS a
RIGHT JOIN Sells b ON a.m_price = b.price and a.n_barName = b.barname
WHERE a.n_barName IS NOT NULL

/* write your query here */

Query output:

|n_barname varchar|beername varchar|m_price numeric|
|---|---|---|
|Blind Pig Co.|Corona|8.00|
|Brothers Bar & Grill|Blue Ribbon|9.50|
|The Clybourne|Heineken|10.00|
|Cowboy Monkey|Lucid Absinthe|95.00|
|Firehaus|Snake Venom|19.50|
|Joe's Brewery|Budweiser|7.50|
|Kam's|Corona|8.00|
|Legends|Armageddon|49.50|
|Murphy's Pub|Guinness Draught|8.00|
|Radio Maria|Sam Adams|7.00|
|The Red Lion|Guinness Draught|9.50|
|Sipyard|Stella Artois|39.50|

Result:

CORRECT

Expected result:

|barname varchar|beername varchar|price numeric|
|---|---|---|
|Blind Pig Co.|Corona|8.00|
|Brothers Bar & Grill|Blue Ribbon|9.50|
|The Clybourne|Heineken|10.00|
|Cowboy Monkey|Lucid Absinthe|95.00|
|Firehaus|Snake Venom|19.50|
|Joe's Brewery|Budweiser|7.50|
|Kam's|Corona|8.00|
|Legends|Armageddon|49.50|
|Murphy's Pub|Guinness Draught|8.00|
|Radio Maria|Sam Adams|7.00|
|The Red Lion|Guinness Draught|9.50|
|Sipyard|Stella Artois|39.50|

<h2>Question 12:</h2><br>
Find the beer with the highest average rating among the beers with the lowest alcohol content. <br>

<b>Note</b> - you may assume that the output will only contain one row.

In [82]:
%%sql 12
SELECT final_avg.beerName
FROM(SELECT AVG(avg_r.rating) AS avg_rb, avg_r.beerName
    FROM(SELECT *
        FROM(SELECT b.name, a.min_alc
            FROM(SELECT MIN(alcohol) AS min_alc
                FROM Beers) AS a
            RIGHT JOIN Beers b ON a.min_alc = b.alcohol
            WHERE a.min_alc IS NOT NULL) AS MINIMUM
        RIGHT JOIN Drinks d ON MINIMUM.name = d.beerName
        WHERE MINIMUM.name IS NOT NULL) AS avg_r
    GROUP BY avg_r.beerName) as final_avg
ORDER BY final_avg.avg_rb DESC LIMIT 1
/* write your query here */

Query output:

|beername varchar|
|---|
|Guinness Draught|

Result:

CORRECT

Expected result:

|beername varchar|
|---|
|Guinness Draught|